
    <h1>Tableau de bord de : {{Donnee}}</h1>
    <div class="dashboard">
        <div class="card">
            <h2>Card 1</h2>
            <p>Quelques informations ici</p>
        </div>
        <div class="card">
            <h2>Card 2</h2>
            <p>Quelques informations ici</p>
        </div>
        <div class="card">
            <h2>Card 3</h2>
            <p>Quelques informations ici</p>
        </div>
    </div>
